<div class="container">
  <div class="container-fluid">
    <!--メインビジュアル-->
    <div class="row mv-box">
      <div class="mv-text-box">
        <h4 class="mv-text">
          あなたのオススメの本を紹介・発見する</br>
          手助けになるサイトです。
      </div>
    </div>
  </div>
  <!--ログインボタン-->
  <% unless user_signed_in? %>
  <div class="row">
    <div class="col-xs-offset-3 col-xs-6">
      <%= link_to users_guest_sign_in_path, method: :post do %>
        <h2 class="login-text btn btn-info btn-block">
          さっそくはじめる</br>
          （仮登録）
        </h2>
      <% end %>

      <%= link_to users_employer_sign_in_path, method: :post do %>
        <h2 class="login-text btn btn-info btn-block">
          ゲストログイン</br>
          （閲覧用）
        </h2>
      <% end %>
    </div>
  </div>
  <% end %>

  <!--投稿いいね上位top3-->
  <div class="row">
    <div class="col-xs-offset-4 col-xs-4 top3-head">
      <h3 class="bg-success"><いいねランキングtop3></h3>
    </div>
  </div>
  <div class="row">
    <div class="top3-book-box-group">
      <% @book_top3.each do |book| %>
      <div class="col-xs-4 box-back">
        <div class="top3-book-box">
  <!--タイトル-->
          <div class="row box-line">
            <div class="top3-book-title">
              <%= link_to user_book_path(book.id), class: "title-text" do %>
                <h3><%= book.title %></h3>
              <% end %>
            </div>
          </div>
  <!--投稿した書籍の画像-->
          <div class="row box-line">
            <div class="top-book-image">
              <%= link_to user_book_path(book.id), class: "title-text" do %>
                <%= attachment_image_tag book, :book_image, size: "300x240", fallback: "noimage-book.jpg" %>
              <% end %>
            </div>
          </div>
          <div class="row box-line">
            <div class="col-xs-offset-1 col-xs-2 book-favorite">
              <%= link_to user_book_path(book.id), class: "title-text" do %>
                <p class="far fa-heart"><%= book.book_favorites.count %></p>
              <% end %>
            </div>
            <div class="col-xs-8 top-book-created">
              <%= link_to user_book_path(book.id), class: "title-text" do %>
                <p><%= l book.created_at %></p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
  <!--<%#= paginate @books %>-->
    </div>
  </div>
</div>