<div class="container">
  <div class="row">
    <div class="col-xs-offset-1">
      <h3>フォロワー</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-offset-1 col-xs-10">
      <table class="table">
        <% @users.each do |user| %>
        <tr>
          <td class="col-xs-3">
            <%= link_to user_user_path(user.id) do %>
              <%= attachment_image_tag user, :user_image, size: "50x50", fallback: "noimage-user.jpg" %>
            <% end %>
          </td>
          <td class="col-xs-6">
            <%= link_to user_user_path(user.id) do %>
              <p class="friend-nickname">
                <%= user.nickname %>
              </p>
            <% end %>
          </td class="col-xs-3">
          <td class="follow-link">
            <%= render "layouts/follow_link", user: user %>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>