<div class="container">
  <div class="row box">
    <!--左側-->
    <div class="col-xs-offset-1 col-xs-5 mypage-left-box">
      <div class="row mypage-user-image">
        <div class="col-xs-offset-1">
          <%= attachment_image_tag @users, :user_image, size:"300x300" , fallback: "noimage-user.jpg" %>
        </div>
      </div>
      <div class="row mypage-left-link">
        <div class="col-xs-offset-3 col-xs-3">
          <%= link_to follows_user_user_path do %>
            <i class="fas fa-user-friends"></i>
            <p>フォロー</p>
          <% end %>
        </div>
        <div class="col-xs-offset-1 col-xs-3">
          <%= link_to follower_user_user_path do %>
            <i class="fas fa-user-friends"></i>
            <p>フォロワー</p>
          <% end %>
        </div>
      </div>
    </div>

    <!--右側-->
    <div class="col-xs-offset-1 col-xs-5 mypage-right-box">
      <div class="row mypage-right-line">
        <h5>ニックネーム</h5>
      </div>
      <div class="row form-control mypage-right-line">
        <%= @user.nickname %>
      </div>
      <div class="row mypage-right-line">
        <h5>自己紹介</h5>
      </div>
      <div class="row form-control mypage-right-line">
        <%= @user.user_introduction %>
      </div>
      <div class="row mypage-right-line">
        <h5>ステータス</h5>
      </div>
      <div class="row form-control mypage-right-line">
        <%= @user.user_status %>
      </div>
      <div class="row mypage-right-line">
        <div class="col-xs-offset-2 follow-link">
          <%= render "layouts/follow_link", user: @user %>
        </div>
      </div>
    </div>
  </div>

    <!--user書籍投稿一覧-->
  <div class="row">
    <div class="col-xs-4">
      <h4><<%= @user.nickname %>さんの投稿></h4>
    </div>
  </div>
  <div class="row">
    <div class="user-book-box-group">
      <% @books.each do |book| %>
      <div class="col-xs-4 box-back">
        <div class="user-book-box">
    <!--タイトル-->
          <div class="row">
            <div class="user-book-title">
              <%= link_to user_book_path(book.id), class: "title-text" do %>
                <h3><%= book.title %></h3>
              <% end %>
            </div>
          </div>
    <!--投稿した書籍の画像-->
          <div class="row box-line">
            <div class="mypage-book-image">
              <%= link_to user_book_path(book.id), class: "title-text" do %>
                <%= attachment_image_tag book, :book_image, size: "300x240", fallback: "noimage-book.jpg" %>
              <% end %>
            </div>
          </div>
          <div class="space"></div>
        </div>
      </div>
      <% end %>
    <!--<%#= paginate @books %>-->
      </div>
    </div>
</div>