<div class="container">
  <!--ゲストユーザー一覧-->
  <div class="col-xs-6">
    <h3>ゲストユーザー（<%= @guests.count %>）</h3>
    <div class="row">
      <table class="table">
        <% @guests.each do |guest| %>
        <tr>
          <td>
            <%= link_to admin_user_path(guest.id) do %>
              <%= attachment_image_tag guest, :user_image, size: "50x50", fallback: "noimage-user.jpg" %>
            <% end %>
          </td>
          <td>
            <%= link_to admin_user_path(guest.id) do %>
              <%= guest.nickname %>
            <% end %>
          </td>
          <td>
            <%= link_to admin_user_path(guest.id) do %>
              <%= guest.user_status %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
  <!--本登録済みユーザー-->
  <div class="col-xs-6">
    <h3>本登録済みユーザー（<%= @users.count %>）</h3>
    <div class="row">
      <table class="table">
        <% @users.each do |user| %>
        <tr>
          <td>
            <%= link_to admin_user_path(user.id) do %>
              <%= attachment_image_tag user, :user_image, size: "50x50", fallback: "noimage-user.jpg" %>
            <% end %>
          </td>
          <td>
            <%= link_to admin_user_path(user.id) do %>
              <%= user.nickname %>
            <% end %>
          </td>
          <td>
            <%= link_to admin_user_path(user.id) do %>
              <%= user.user_status %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>