<!DOCTYPE html>
<html>
  <head>
    <title>ShareBooks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheets" href="app/assets/stylesheets/skippr.css" />
    <script src="https://kit.fontawesome.com/5edaebbe20.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--header=======================================================-->
    <%= render "layouts/header" %>
    <!--=============================================================-->
    <% if notice %>
      <!--上手くいった時に出すメッセージ-->
      <div class="alert alert-success alert-dismissible" role="alert">
  	    <button type="button" class="close" data-dismiss="alert" aria-label="閉じる"><span aria-hidden="true">×</span></button>
  	    <%= notice %>
      </div>
    <% elsif alert %>
      <!--上手くいかなかった時に出すメッセージ-->
      <div class="alert alert-danger alert-dismissible" role="alert">
  	    <button type="button" class="close" data-dismiss="alert" aria-label="閉じる"><span aria-hidden="true">×</span></button>
  	    <%= alert %>
      </div>
    <% end %>
    <div class="container-fluid body-1">
      <%= yield %>
      <!--画面右下固定の書籍投稿ボタン============================-->
      <% if user_signed_in? %>
      <span id="new_book">
        <%= link_to new_user_book_path do %>
          <i id="new_book_botton" class="fas fa-book-medical "></i>
        <% end %>
      </span>
      <% end %>
      <!--=====================================================-->
    </div>
    <!--footer=============================================================-->
    <%= render "layouts/footer" %>
    <!--===================================================================-->
  </body>
</html>
